#Exercise 2: Create markdown cell with title of the notebook
# Data Science Tools and Ecosystem

#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Sql

#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas

#Exercise 6 - Create a markdown cell with a table of Data Science tools

| **Data Science Tools** |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Spyder                   |

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [36]:
#Exercise 8 - Create a code cell to multiply and add numbers

# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [37]:
#Exercise 9 - Create a code cell to convert minutes to hours

# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Create and share Jupyter Notebooks  
- Perform basic arithmetic operations in Python  
- Understand open-source tools used in Data Science

#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Aditi Dsouza